NiFi/templates/GroupFilesOnCopy.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description>Group files while coping them from a source to destination. When any group of files is written to the destination the group signal is arisen.</description>
  <groupId>69f0bbcc-0160-1000-906b-1936305a2e3e</groupId>
  <name>GroupFilesOnCopy</name>
  <snippet>
    <controllerServices>
      <id>9d57d753-e399-36a8-0000-000000000000</id>
      <parentGroupId>06b91ddd-bee8-30aa-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-distributed-cache-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.5.0-SNAPSHOT</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Server Hostname</key>
          <value>
            <name>Server Hostname</name>
          </value>
        </entry>
        <entry>
          <key>Server Port</key>
          <value>
            <name>Server Port</name>
          </value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
          <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
          </value>
        </entry>
        <entry>
          <key>Communications Timeout</key>
          <value>
            <name>Communications Timeout</name>
          </value>
        </entry>
      </descriptors>
      <name>DistributedMapCacheClientService</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Server Hostname</key>
          <value>localhost</value>
        </entry>
        <entry>
          <key>Server Port</key>
          <value>4557</value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
        </entry>
        <entry>
          <key>Communications Timeout</key>
          <value>30 secs</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
    </controllerServices>
    <processGroups>
      <id>eabfc43b-2169-33ba-0000-000000000000</id>
      <parentGroupId>06b91ddd-bee8-30aa-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments>Group files on copy</comments>
      <contents>
        <connections>
          <id>9905b3ee-2192-338a-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>26bfed1e-0b42-3d15-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>39695499-00f3-33f9-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>9faec615-c746-343b-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>882ccefb-0cb6-34ef-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>16692cdb-cc18-3fe6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a99ef09e-2dca-3d9a-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>aee58b5c-7710-3808-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>5b1edd53-5ae6-308e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b98be3a6-cdf4-39e9-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>0decd5d9-61f1-31bf-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>16692cdb-cc18-3fe6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ba40fed1-fc83-31a3-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>6392ffd5-58fe-37de-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>0decd5d9-61f1-31bf-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c4b5cc3b-5ae7-313a-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>16692cdb-cc18-3fe6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>aee58b5c-7710-3808-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c7920904-c976-32fb-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>82bd5011-abc7-30d6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>splits</selectedRelationships>
          <source>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>882ccefb-0cb6-34ef-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c8406b3b-bdfa-394a-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>dde50268-d86d-3838-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>46566cbb-dae2-3ea2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>e05c7505-6b85-3768-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>5b1edd53-5ae6-308e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>a47937cb-31ca-3249-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>077d229e-917b-3d43-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>b5142a80-e995-3d5a-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>78c89f0a-a36f-3256-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>3055e794-b9b8-3562-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>93.0277099609375</x>
            <y>1771.37255859375</y>
          </bends>
          <bends>
            <x>83.294189453125</x>
            <y>1845.9962158203125</y>
          </bends>
          <destination>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>0decd5d9-61f1-31bf-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>wait</selectedRelationships>
          <source>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>0decd5d9-61f1-31bf-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>441d6f46-f28d-3453-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>46566cbb-dae2-3ea2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>e38f3fb0-f5a7-3fb3-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>58b54349-7939-311b-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>78c89f0a-a36f-3256-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>eabfc43b-2169-33ba-0000-000000000000</groupId>
            <id>82bd5011-abc7-30d6-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <inputPorts>
          <id>a47937cb-31ca-3249-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>310.5884899909895</x>
            <y>1158.9342116223286</y>
          </position>
          <comments>Waits for filenames from some source</comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>source-origin-filename</name>
          <state>STOPPED</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <inputPorts>
          <id>e38f3fb0-f5a7-3fb3-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>1132.7518025685904</x>
            <y>1151.3348184030083</y>
          </position>
          <comments>Waits for files that were fetched from somewhere. Fetching processor must use filenames from 'source-grouped-filename' out port</comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>source-grouped-file</name>
          <state>STOPPED</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <inputPorts>
          <id>39695499-00f3-33f9-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>1524.3080329579786</x>
            <y>1166.2670082855882</y>
          </position>
          <comments>Waits filenames of files written to some destination. Destination must be the same that stores files gotten from 'destination-grouped-file' out port
</comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>destination-filename</name>
          <state>STOPPED</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <outputPorts>
          <id>b5142a80-e995-3d5a-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>703.6184634788157</x>
            <y>1157.7247829740672</y>
          </position>
          <comments>Produces filenames with group identificator</comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>source-grouped-filename</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>dde50268-d86d-3838-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>1131.092702220911</x>
            <y>1436.7062834262326</y>
          </position>
          <comments>Files to be saved at some destination. Files will have changed name: instead original one the will have &lt;group-name.&lt;merge.index&gt;.&lt;merge.count&gt;&gt;</comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>destination-grouped-file</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>6392ffd5-58fe-37de-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>289.91025883787665</x>
            <y>1932.788264059783</y>
          </position>
          <comments>Produce notification signal after files have been stored at the destination. Destination must be the same that takes files from 'destination-grouped-file' out port</comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>group-signal</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
          <id>82bd5011-abc7-30d6-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>659.8740540870394</x>
            <y>1436.40269632089</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Capture Group Length</key>
                <value>
                  <name>Maximum Capture Group Length</name>
                </value>
              </entry>
              <entry>
                <key>Enable Canonical Equivalence</key>
                <value>
                  <name>Enable Canonical Equivalence</name>
                </value>
              </entry>
              <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>
                  <name>Enable Case-insensitive Matching</name>
                </value>
              </entry>
              <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>
                  <name>Permit Whitespace and Comments in Pattern</name>
                </value>
              </entry>
              <entry>
                <key>Enable DOTALL Mode</key>
                <value>
                  <name>Enable DOTALL Mode</name>
                </value>
              </entry>
              <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>
                  <name>Enable Literal Parsing of the Pattern</name>
                </value>
              </entry>
              <entry>
                <key>Enable Multiline Mode</key>
                <value>
                  <name>Enable Multiline Mode</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>
                  <name>Enable Unicode-aware Case Folding</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>
                  <name>Enable Unicode Predefined Character Classes</name>
                </value>
              </entry>
              <entry>
                <key>Enable Unix Lines Mode</key>
                <value>
                  <name>Enable Unix Lines Mode</name>
                </value>
              </entry>
              <entry>
                <key>Include Capture Group 0</key>
                <value>
                  <name>Include Capture Group 0</name>
                </value>
              </entry>
              <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>
                  <name>extract-text-enable-repeating-capture-group</name>
                </value>
              </entry>
              <entry>
                <key>new-filename</key>
                <value>
                  <name>new-filename</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Maximum Capture Group Length</key>
                <value>1024</value>
              </entry>
              <entry>
                <key>Enable Canonical Equivalence</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Case-insensitive Matching</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Permit Whitespace and Comments in Pattern</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable DOTALL Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Literal Parsing of the Pattern</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Multiline Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unicode-aware Case Folding</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unicode Predefined Character Classes</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Enable Unix Lines Mode</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Include Capture Group 0</key>
                <value>true</value>
              </entry>
              <entry>
                <key>extract-text-enable-repeating-capture-group</key>
                <value>true</value>
              </entry>
              <entry>
                <key>new-filename</key>
                <value>.*</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ExtractText</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
          <id>882ccefb-0cb6-34ef-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>673.0153710669239</x>
            <y>1619.184038157179</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Byte Sequence Format</key>
                <value>
                  <name>Byte Sequence Format</name>
                </value>
              </entry>
              <entry>
                <key>Byte Sequence</key>
                <value>
                  <name>Byte Sequence</name>
                </value>
              </entry>
              <entry>
                <key>Keep Byte Sequence</key>
                <value>
                  <name>Keep Byte Sequence</name>
                </value>
              </entry>
              <entry>
                <key>Byte Sequence Location</key>
                <value>
                  <name>Byte Sequence Location</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Byte Sequence Format</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Byte Sequence</key>
                <value>|</value>
              </entry>
              <entry>
                <key>Keep Byte Sequence</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Byte Sequence Location</key>
                <value>Trailing</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitContent</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>splits</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitContent</type>
        </processors>
        <processors>
          <id>aee58b5c-7710-3808-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>258.5217298478524</x>
            <y>1423.0199711349449</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>mergecontent-metadata-strategy</key>
                <value>
                  <name>mergecontent-metadata-strategy</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
              <entry>
                <key>Tar Modified Time</key>
                <value>
                  <name>Tar Modified Time</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Bin-Packing Algorithm</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Binary Concatenation</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
              </entry>
              <entry>
                <key>mergecontent-metadata-strategy</key>
                <value>Do Not Merge Uncommon Metadata</value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>10</value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>30 sec</value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>5</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Filename</value>
              </entry>
              <entry>
                <key>Header File</key>
              </entry>
              <entry>
                <key>Footer File</key>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>./merging/demarcator</value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Tar Modified Time</key>
                <value>${file.lastModifiedTime}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>MergeContent</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
          <id>0decd5d9-61f1-31bf-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>248.76429051248306</x>
            <y>1743.7943019534164</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>release-signal-id</key>
                <value>
                  <name>release-signal-id</name>
                </value>
              </entry>
              <entry>
                <key>target-signal-count</key>
                <value>
                  <name>target-signal-count</name>
                </value>
              </entry>
              <entry>
                <key>signal-counter-name</key>
                <value>
                  <name>signal-counter-name</name>
                </value>
              </entry>
              <entry>
                <key>wait-buffer-count</key>
                <value>
                  <name>wait-buffer-count</name>
                </value>
              </entry>
              <entry>
                <key>releasable-flowfile-count</key>
                <value>
                  <name>releasable-flowfile-count</name>
                </value>
              </entry>
              <entry>
                <key>expiration-duration</key>
                <value>
                  <name>expiration-duration</name>
                </value>
              </entry>
              <entry>
                <key>distributed-cache-service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
                  <name>distributed-cache-service</name>
                </value>
              </entry>
              <entry>
                <key>attribute-copy-mode</key>
                <value>
                  <name>attribute-copy-mode</name>
                </value>
              </entry>
              <entry>
                <key>wait-mode</key>
                <value>
                  <name>wait-mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>release-signal-id</key>
                <value>${group-name}</value>
              </entry>
              <entry>
                <key>target-signal-count</key>
                <value>${merge.count}</value>
              </entry>
              <entry>
                <key>signal-counter-name</key>
              </entry>
              <entry>
                <key>wait-buffer-count</key>
                <value>1000</value>
              </entry>
              <entry>
                <key>releasable-flowfile-count</key>
                <value>0</value>
              </entry>
              <entry>
                <key>expiration-duration</key>
                <value>10 min</value>
              </entry>
              <entry>
                <key>distributed-cache-service</key>
                <value>9d57d753-e399-36a8-0000-000000000000</value>
              </entry>
              <entry>
                <key>attribute-copy-mode</key>
                <value>replace</value>
              </entry>
              <entry>
                <key>wait-mode</key>
                <value>wait</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Wait</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>expired</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>wait</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.Wait</type>
        </processors>
        <processors>
          <id>16692cdb-cc18-3fe6-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>256.45306881091085</x>
            <y>1572.9700785662808</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>group-name</key>
                <value>
                  <name>group-name</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>group-name</key>
                <value>${UUID()}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>26bfed1e-0b42-3d15-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>1470.6231754498126</x>
            <y>1274.7756811677264</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>release-signal-id</key>
                <value>
                  <name>release-signal-id</name>
                </value>
              </entry>
              <entry>
                <key>signal-counter-name</key>
                <value>
                  <name>signal-counter-name</name>
                </value>
              </entry>
              <entry>
                <key>signal-counter-delta</key>
                <value>
                  <name>signal-counter-delta</name>
                </value>
              </entry>
              <entry>
                <key>signal-buffer-count</key>
                <value>
                  <name>signal-buffer-count</name>
                </value>
              </entry>
              <entry>
                <key>distributed-cache-service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient</identifiesControllerService>
                  <name>distributed-cache-service</name>
                </value>
              </entry>
              <entry>
                <key>attribute-cache-regex</key>
                <value>
                  <name>attribute-cache-regex</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>release-signal-id</key>
                <value>${filename:substringBefore('.')}</value>
              </entry>
              <entry>
                <key>signal-counter-name</key>
                <value>default</value>
              </entry>
              <entry>
                <key>signal-counter-delta</key>
                <value>1</value>
              </entry>
              <entry>
                <key>signal-buffer-count</key>
                <value>1000</value>
              </entry>
              <entry>
                <key>distributed-cache-service</key>
                <value>9d57d753-e399-36a8-0000-000000000000</value>
              </entry>
              <entry>
                <key>attribute-cache-regex</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Notify</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.Notify</type>
        </processors>
        <processors>
          <id>46566cbb-dae2-3ea2-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>1077.774278249503</x>
            <y>1265.8190536449226</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>filename</key>
                <value>
                  <name>filename</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>filename</key>
                <value>${group-filename}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>5b1edd53-5ae6-308e-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>258.8574983452147</x>
            <y>1278.8121686102975</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>(?s)(^.*$)</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>${filename}</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Append</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
          <id>78c89f0a-a36f-3256-0000-000000000000</id>
          <parentGroupId>eabfc43b-2169-33ba-0000-000000000000</parentGroupId>
          <position>
            <x>659.9013299168107</x>
            <y>1262.1959290426323</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.5.0-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>filename</key>
                <value>
                  <name>filename</name>
                </value>
              </entry>
              <entry>
                <key>group-filename</key>
                <value>
                  <name>group-filename</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>filename</key>
                <value>${new-filename.0}</value>
              </entry>
              <entry>
                <key>group-filename</key>
                <value>${group-name}.${fragment.index}.${fragment.count}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
      </contents>
      <name>Grouper</name>
    </processGroups>
  </snippet>
  <timestamp>12/19/2017 15:56:03 MSK</timestamp>
</template>